@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Produtos</h1>
    <p>Clique <a href="/produtos">Aqui</a> para entrar.</p>
</div>

<hr>

<div class="text-center">
    <p>Quantidade de Itens em estoque: @ViewBag.quantidadeDeItensNoEstoque</p>
    <p>Quantidade de Produtos Vencidos: @ViewBag.produtosVencidos</p>
    <p>Quantidade de Produtos para vencer daqui a 3 dias: @ViewBag.produtosAVencerEm3Dias</p>
    <p>Quantidade de Produtos totais: @ViewBag.quantidadeDeProdutos</p>
</div>
